/* Center align the entire app */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    text-color:green;
}

/* Style for graphs */
.graph-container {
    width: 45%;
    display: inline-block;
    margin: 10px;
    border: 15px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Style for dropdowns */
.dropdown-container {
    width: 45%;
    display: inline-block;
    margin-right: 10px;
}

.dropdown-container:last-child {
    margin-right: 0;
}
